
*{ 
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    margin:0px;
    padding:0px ;
    text-decoration: none;
    background-color: white;
}

nav a {
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.4s;
    text-decoration: none;
    background-color: lightgray;
    color: black;
}

nav a:hover{
    background-color:lightcyan;
}

nav {
    background-color: antiquewhite;
}

nav-item {
    border:thin;
    color: white;
    padding: 8px;
    margin: 13px;
    display: inline-block;
    text-decoration: none;
    background-color: aqua;
}

i{
    margin-right: 16px;
}

section{
    padding:0px 10px;
}

label, input, button, select{
    margin: 10px;
}

input, button, select{
    padding: 10px
    
}

label{
    font-weight: bold;
}

input, select{
    font-size: 1.1em;
}

table{
    width: 100%;
    border-collapse: collapse
}

td,th{
    border: 1px solid black;
    padding: 15px 10px;
    text-align: center;
}

th {
    background-color: aqua;
}

table {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
}

td, th {
    border-left: solid black 1px;
    border-top: solid black 1px;
}

th {
    background-color: beige;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}

table a {
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 60px;
    transition-duration: 0.4s;
    text-decoration: none;
    background-color: lightgray;
    color: black;
}

table a:hover{
    background-color:lightcyan;
}

body h1{
    text-align: center;
}
 body h3{
    text-align: right;
    margin: 25px;
 }

    body h3 a {
        border-radius: 25px;
        padding: 20px;
        width: 200px;
        height: 150px;

        transition-duration: 0.4s;
        text-decoration: none;
        background-color: lightgray;
        color: black;
        
    }

body h3 a:hover {
    border:solid;
    border-width:thin;
    background-color:lightcyan;
    color: black;
}

